
body{
    background-color: #fad1fa;
    font-family: "Pixelify Sans";
    color: #460c5b;
}
#drag1{
    min-height: 6.5em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    float: right;
    position: absolute;
  }


.folderName {
    font-weight:100;
    text-align: center;
    margin-top: .3em;
}

.window{
    width: 500px;
    height: 400px;
    border: solid #743c89 2px;
    background-color:#ffedff ;
}

.window-header{
    height: 1.3em;
    border-bottom: #743c89 2px solid ;
    text-align: center;
}